{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Заказы:</h1>
        {% for order in orders %}
            <div class="card mb-3 w-50 text-start">
                <h5 class="card-header">{{ order.get_status_display }}</h5>
                <div class="card-body">
                    <span class="card-text"><small class="text-muted">Заказ №{{ order.id }}</small></span>
                    <p>Адрес: {{ order.address }}</p>
                    <p> Дата и время: {{ order.work_start }}</p>
                    <p> Сумма заказа: {{ order.total_cost }} сом</p>
                    <div class=" btn-group">
                        <a class="btn btn-dark"
                           href="{% url 'crmapp:order_detail' order.pk %}">Просмотреть</a>
                        <br>
                        <a class="btn btn-warning"
                           href="№">Редактировать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}