{% extends "base.html" %}

{% block content %}
    <div class="container">
    {% if inventory %}
        <form method="POST">
            {% csrf_token %}
            <h2>Вы действительно хотите удалить инвентарь {{ inventory.name }}?</h2>
            <input class="btn btn-danger" type="submit" value="Да">
        </form>
        <a class="btn btn-dark mt-2" href="{% url "crmapp:inventory_index" %}">Нет</a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <h2>Вы действительно хотите удалить мыломойку {{ cleansear.name }}?</h2>
            <input class="btn btn-danger" type="submit" value="Да">
        </form>
        <a class="btn btn-dark mt-2" href="{% url "crmapp:cleansear_index" %}">Нет</a>
    {% endif %}
    </div>
{% endblock %}