[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
pillow = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
fontawesomefree = "*"
crispy-bootstrap5 = "*"
python-telegram-bot = "*"
xlwt = "*"
selenium = "*"
behave = "*"
behave-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
