{% extends 'base.html' %}

{% block title %}Список видов уборки{% endblock title %}

{% block links %}
{% include 'partial/service_links.html' %}
{% endblock links %}

{% block content %}
<div class="container">
    <div class="row fw-bold">
        <div class="col order-1">Вид уборки</div>
        <div class="col order-2"></div>
        <div class="col order-3"></div>
    </div>
{% for cleaning_sort in cleaning_sorts.all %}
    <div class="row">
        <div class="col order-1">{{ cleaning_sort.name }}</div>
        <div class="col order-2 my-1">
            <a href="{% url 'crmapp:cleaning_sort_update' cleaning_sort.pk %}" class="btn btn-warning">Изменить</a>
        </div>
        <div class="col order-3 my-1">
            <a href="{% url 'crmapp:cleaning_sort_delete' cleaning_sort.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
{% endfor %}
<div>
    <a href="{% url 'crmapp:cleaning_sort_create'%}" class="w-100 btn btn-primary">Добавить вид уборки</a>
</div>
</div>
{% endblock content %}