{% extends 'base.html' %}

{% block title %}Список видов уборки{% endblock title %}

{% block links %}
{% include 'partial/service_links.html' %}
{% endblock links %}



{% block content %}
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Вид уборки</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        {% for cleaning_sort in cleaning_sorts.all %}
            <tr>
                <th scope="row">{{ cleaning_sort.id }}</th>
                <td>{{ cleaning_sort.name }}</td>
                <td><a href="{% url 'crmapp:cleaning_sort_update' cleaning_sort.pk %}">
                    <i class="fa fa-pencil text-warning" aria-hidden="true"></i>
                </a></td>
                <td><a href="{% url 'crmapp:cleaning_sort_delete' cleaning_sort.pk %}">
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crmapp:cleaning_sort_create'%}" class="w-100 btn btn-primary">Добавить вид уборки</a>
</div>
{% endblock content %}
