{% extends 'base.html' %}
{% block title %}Staff{% endblock title %}

{% block links %}
    <li class="nav-item">
        <a href="{% url 'accounts:black-list' %}" class="nav-link">Черный список</a>
    </li>
{% endblock links %}
{% block content %}

    {% if staff_list %}
        {% include 'account/staff.html' %}
    {% else %}
        <p class="p-5">Список сотрудников пуст</p>
    {% endif %}
    <div class="container text-center">
        <a class="btn btn-primary" href="{% url 'accounts:register' %}">Добавить сотрудника</a>
    </div>
{% endblock content %}
