{% extends 'base.html' %}
{% block title %}Photo{% endblock title %}
{% block links %}
    <li class="nav-item">
        <a class="nav-link text-light" href="{% url "accounts:profile" user_object.pk %}">Назад</a>
    </li>
{% endblock links %}
{% block content %}
    <div class="container m-5">
        {% if user_object.avatar %}
            <img class="cart-img-top rounded" style="height: 330px; width: 330px"
                 src="{{ user_object.avatar.url }}"
                 alt="user avatar">
        {% else %}{% endif %}
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% include "partial/form.html" with button_text="Применить изменения" %}
        </form>
    </div>
{% endblock content %}
