{% extends "base.html" %}
{% block title %}Удаление клинера с заказа{% endblock title %}
{% block content %}
    <div class="container text-center">
        <form method="post">
            <h3 class="mt-4 mb-4">Удалить сотрдника {{ staff.staff.last_name }} {{ staff.staff.first_name }}  из заказа?</h3>
            {% csrf_token %}
            <a href="{% url "crmapp:order_detail" staff.order.pk %}" class="btn btn-dark">Нет</a>
            <input type="submit" name="action" value="Да" class="btn btn-danger"/>
        </form>
    </div>
{% endblock %}