{% extends 'base.html' %}
{% block title %}Список типов объектов{% endblock title %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование</th>
                <th scope="col">Редактировать</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for object_type in object_types %}
                <tr>
                    <th scope="row">{{ object_type.id }}</th>
                    <td>{{ object_type.name }}</td>
                    <td><a style="text-decoration:none" href="{% url 'crmapp:object_type_update' object_type.id %}">
                        <i class="fa fa-pencil text-warning" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td><a style="text-decoration:none"
                           href="{% url 'crmapp:object_type_delete' object_type.id %}">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a style="text-decoration:none" href="{% url 'crmapp:object_type_create' %}" class="w-100 btn btn-success">Добавить
            тип объекта</a>
    </div>
{% endblock content %}