{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список объектов
{% endblock title %}
{% block table_title %}
    Список объектов
{% endblock table_title %}
{% block thead %}
    <th>#</th>
    <th>Наименование</th>
    <th>Действия</th>
{% endblock thead %}
{% block tbody %}
    {% for object_type in object_types %}
        <tr>
            <td>{{ object_type.id }}</td>
            <td>{{ object_type.name }}</td>
            <td>
                <a title="Редактировать"
                   href="{% url 'crmapp:object_type_update' object_type.pk %}">
                    <i class="fa fa-pencil text-dark hover-blue fs-5 mx-1"
                       aria-hidden="true"></i>
                </a>
                <a title="Удалить"
                   href="{% url 'crmapp:object_type_delete' object_type.pk %}">
                <i class="fa fa-trash text-dark hover-blue fs-5 mx-1"
                   aria-hidden="true"></i>
            </a></td>
        </tr>
    {% endfor %}
{% endblock tbody %}