{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список штрафов
{% endblock title %}
{% block table_title %}
    Список штрафов
{% endblock table_title %}
{% block button %}
    <div class="text-right">
        <a class="mb-2 btn btn-secondary btn-sm" href="{% url 'crmapp:fine_create' %}">Добавить штраф</a>
    </div>
{% endblock button %}
{% block thead %}
    <th>#</th>
    <th>Категория</th>
    <th>Штраф</th>
    <th>Критерий</th>
    <th>Сумма штрафа</th>
    <th>Пояснение</th>
    <th>Действия</th>
{% endblock thead %}
{% block tbody %}
    {% for fine in fines %}
        <tr>
            <th scope="row">{{ fine.id }}</th>
            <td>{{ fine.category }}</td>
            <td>{{ fine.fine }}</td>
            <td>{{ fine.criteria }}</td>
            <td>{{ fine.value|default:"" }}</td>
            <td>{{ fine.description }}</td>
            <td><a title="Редактировать"
                   href="{% url 'crmapp:fine_update' fine.id %}">
                <i class="fa fa-pencil text-dark hover-blue fs-5 mx-1"
                   aria-hidden="true"></i>
            </a>
                <a title="Удалить"
                   href="{% url 'crmapp:fine_delete' fine.id %}">
                    <i class="fa fa-trash text-dark hover-blue fs-5 mx-1"
                       aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}

