{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form method="POST" class="mb-5">
            {% csrf_token %}
            <div class="mt-5">
                <p class="text-center fs-1 text-uppercase">Услуги</p>
                {{ service_form.management_form }}
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for error in service_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% for field in service_form %}
                        <div class="col">
                            <div class="card px-4 pb-4">
                                <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
                                {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input class="btn btn-warning mt-3" type="submit" value="Изменить">
        </form>
    </div>
{% endblock content %}