{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}Document{% endblock title %}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">

        <div class="container">
            <a class="navbar-brand" href="{% url 'crmapp:order_index' %}">Qlean.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if perms.crmapp.add_order %}
                            <li class="nav-item">
                                <a href="{% url 'crmapp:order_create' %}" class="nav-link">Создать заказ</a>
                            </li>
                        {% endif %}
                        {% if perms.crmapp.view_order %}
                            <li class="nav-item">
                                <a href="{% url 'crmapp:order_index' %}" class="nav-link">Заказы</a>
                            </li>
                        {% endif %}
                        {% if perms.accounts.view_staff %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Cотрудники
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'accounts:staff-list' %}">Cписок
                                        сотрудников</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'accounts:staff-manager-list' %}">Cписок
                                        менеджеров</a>
                                    </li>
                                    {% if perms.accounts.add_staff %}
                                        <a class="dropdown-item" href="{% url 'accounts:register' %}">Добавить
                                            сотрудника</a>
                                    {% endif %}
                                    {% if perms.accounts.view_staff_blacklist %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'accounts:black-list' %}">Черный список</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if perms.crmapp.сan_view_income_outcome_report %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Отчеты
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% if request.user.is_staff %}
                                        <li class="nav-item">
                                            <a href="{% url 'crmapp:manager_cash_list' %}" class="dropdown-item">Отчет
                                                по кассе</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a href="{% url 'crmapp:income_outcome_report' %}" class="dropdown-item">Отчет о расходах и доходах</a></li>
                                    <li class="nav-item">
                                        <a href="{% url 'crmapp:manager_report_list' %}" class="dropdown-item">Отчет
                                            менеджера</a>
                                    </li>
                                    {% if perms.accounts.view_payout %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'accounts:payout_list' %}">Отчет по выплатам</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Прочее
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% if perms.crmapp.view_service %}
                                        <li><a class="dropdown-item" href="{% url 'crmapp:service_list' %}">Услуги</a>
                                        </li>
                                    {% endif %}
                                    {% if perms.crmapp.add_service %}
                                        <li><a class="dropdown-item" href="{% url 'crmapp:service_create' %}">Добавить
                                            услугу</a></li>
                                    {% endif %}
                                    {% if perms.crmapp.view_inventory %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'crmapp:inventory_index' %}">Инвентарь</a></li>
                                    {% endif %}
{#                                    {% if perms.crmapp.add_inventory %}#}
{#                                    {% endif %}#}
                                    {% if perms.crmapp.view_objecttype %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'crmapp:object_type_list' %}">Типы объекта</a></li>
                                    {% endif %}
{#                                    {% if perms.crmapp.add_objecttype %}#}
{#                                    {% endif %}#}
                                    {% if perms.crmapp.view_fine %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'crmapp:fine_list' %}">Штрафы</a></li>
                                    {% endif %}

                                    {% if perms.crmapp.view_bonus %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'crmapp:bonus_list' %}">Бонусы</a></li>
                                    {% endif %}
{#                                    {% if perms.crmapp.add_bonus %}#}
{#                                    {% endif %}#}
                                    {% if perms.crmapp.view_client %}
                                        <li><a class="dropdown-item" href="{% url 'crmapp:client_index' %}">Клиенты</a>
                                        </li>
                                    {% endif %}
                                    {% if perms.crmapp.add_client %}
                                        <li><a class="dropdown-item" href="{% url 'crmapp:client_create' %}">Добавить
                                            клиента</a></li>
                                    {% endif %}
                                    {% if request.user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'crmapp:order_deleted_list' %}">Удаленные
                                            заказы</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Войти</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:profile' user.id %}">Мой профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:logout' %}">{{ user.first_name }} {{ user.last_name }} |
                                Выйти</a>
                        </li>
                    {% endif %}
                    {% block links %}
                    {% endblock links %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    {% include "partial/messages.html" %}
    {% block content %}{% endblock %}
</div>

<style>
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
</style>
{% block script %}
{% endblock script %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
