{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Qlean</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'icons/font-awesome/css/font-awesome.min.css' %}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
    <!-- Custom Stylesheet -->
    {% block style %}{% endblock style %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader" style="display: none;">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper" class="show">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a href="index.html">
                <b class="logo-abbr"><img src="img/logo.png" alt=""></b>
                <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </span>
            </a>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content clearfix">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-left">
                <div class="input-group icons">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i
                                class="mdi mdi-magnify"></i></span>
                    </div>
                    <input type="search" class="form-control" placeholder="Search Dashboard"
                           aria-label="Search Dashboard">
                    <div class="drop-down animated flipInX d-md-none">
                        <form action="#">
                            <input type="submit" class="form-control" placeholder="Поиск">
                        </form>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons dropdown d-none d-md-flex">
                        <a href="javascript:void(0)" class="log-user" data-toggle="dropdown" aria-expanded="false">
                            <span>Аккаунт</span> <i class="icon-login f-s-20" aria-hidden="true"></i>
                        </a>
                        <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a href="app-profile.html"><i class="icon-user"></i> <span>Мой профиль</span></a>
                                    </li>
                                    <li><hr class="my-2"></li>
                                    <li>
                                        <a href="page-lock.html"><i class="icon-lock"></i> <span>Телеграм токен</span></a>
                                    </li>
                                    <li><a href="page-login.html"><i class="icon-key"></i> <span>Выйти</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div class="nk-nav-scroll active" style="overflow: hidden; width: auto; height: 100%;">
                <ul class="metismenu in" id="menu">
                    {% block links %}
                        <li>
                            <a href="{% url 'crmapp:order_create' %}" aria-expanded="false">
                                <i class="icon-plus menu-icon"></i><span class="nav-text">Создать заказ</span>
                            </a>
                        </li>

                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-people menu-icon"></i><span class="nav-text">Сотрудники</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'accounts:staff-list' %}">Список сотрудников</a></li>
                                <li><a href="{% url 'accounts:register' %}">Добавить сотрудника</a></li>
                                <li><a href="{% url 'accounts:payout_list' %}">История выплат</a></li>
                                <li><a href="{% url 'accounts:black-list' %}">Черный список</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-notebook menu-icon"></i><span class="nav-text">Справочники</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'crmapp:service_list' %}" aria-expanded="false">Услуги</a></li>
                                <li><a href="{% url 'crmapp:inventory_index' %}" aria-expanded="false">Инвентарь</a></li>
                                <li><a href="{% url 'crmapp:object_type_list' %}" aria-expanded="false">Объкеты</a></li>
                                <li><a href="{% url 'crmapp:fine_list' %}" aria-expanded="false">Штрафы</a></li>
                                <li><a href="{% url 'crmapp:bonus_list' %}" aria-expanded="false">Бонусы</a></li>
                                <li><a href="{% url 'crmapp:client_index' %}" aria-expanded="false">Клиенты</a></li>
                            </ul>
                        </li>
                    {% endblock links %}
                </ul>
            </div>
            <div class="slimScrollBar"
                 style="background: transparent none repeat scroll 0% 0%; width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 30px;"></div>
            <div class="slimScrollRail"
                 style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body" style="min-height: 928px;">
        <!-- container -->
        <div class="container-fluid">
            {% block content %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Таблица заказов</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Дата уборки</th>
                                            <th>Адрес</th>
                                            <th>Статус</th>
                                            <th>Прогресс</th>
                                            <th>Сумма</th>
                                            <th>*</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if orders %}
                                            {% for order in orders %}
                                                <tr>
                                                    <th>{{ order.id }}</th>
                                                    <td>{{ order.work_start }}</td>
                                                    <td>{{ order.address }}</td>
                                                    <td>
                                                        <span class="badge badge-primary px-2">{{ order.get_status_display }}</span>
                                                    </td>
                                                    <td>{{ order.created_at }}</td>


                                                    <td>{{ order.get_total }}</td>
                                                    <td>

                                                        <div class="dropdown custom-dropdown">
                                                            <div data-toggle="dropdown" aria-expanded="false"><i
                                                                    class="ti-more-alt"></i>
                                                            </div>
                                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(89px, 37px, 0px);">
                                                                <a class="dropdown-item"
                                                                   href="{% url 'crmapp:order_detail' order.pk %}">Подробнее</a>
                                                                {% if perms.crmapp.change_order and order.manager == request.user or request.user.is_staff %}
                                                                    <a class="dropdown-item"
                                                                       href="{% url 'crmapp:order_update' order.pk %}">Редактировать</a>
                                                                {% endif %}
                                                                {% if perms.crmapp.delete_order and order.manager == request.user or request.user.is_staff %}
                                                                    <a class="dropdown-item"
                                                                       href="{% url 'crmapp:order_delete' order.pk %}">Удалить</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <p>Список заказов пуст</p>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                </div>
            {% endblock content %}
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; 2022</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script src="{% static 'plugins/common/common.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/gleek.js' %}"></script>
<script src="{% static 'js/styleSwitcher.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block scripts %}{% endblock scripts %}
<!--**********************************
    Scripts end
***********************************-->
</body>
</html>