{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Черный список сотрудников
{% endblock title %}
{% block table_title %}
    Черный список сотрудников
{% endblock table_title %}
{% block thead %}
    <th>ФИО Сотрудника</th>
    <th>ИНН</th>
    <th>Телефон</th>
    <th>Примечание</th>
    <th></th>
{% endblock thead %}
{% block tbody %}
    {% for staff in user_objects %}
        <tr>
            <td>
                <a style="text-decoration: none" href="{% url 'accounts:profile' staff.pk %}">
                    {{ staff.last_name | capfirst }} {{ staff.first_name | capfirst }}</a>
            </td>
            <td>{{ staff.inn_passport }}</td>
            <td>{{ staff.phone }}</td>
            <td>{{ staff.description }}</td>
            <td>
                <a title="Вернуть из черного списка"
                   href="{% url 'accounts:black-list-remove' bonus.id %}">
                    <i class="fa fa-trash text-dark hover-blue fs-5 mx-1" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}


