{% extends 'base.html' %}
{% block title %}Удаление из черного листа{% endblock title %}

{% block content %}
    <div class="container text-center">
        <form method="post">
            <h3 class="mt-4 mb-4">Вы хотите
                удалить {{ user_object.last_name | capfirst }} {{ user_object.first_name | capfirst }} из черного
                списока?</h3>
            {% csrf_token %}
            <a href="{% url 'accounts:staff-list' %}" class="btn btn-dark">Нет</a>
            <input type="submit" name="action" value="Да" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}