{% extends 'base.html' %}
{% block title %}Пароль{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container text-center w-50">
        <div class="card mt-3">
            <div class="card-header">
                Смена пароля
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Сохранить новый пароль" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}