{% extends 'partial/paginnated_table.html' %}
{% block title %}
    История выплат
{% endblock title %}
{% block table_title %}
    История выплат {{ staff }}
{% endblock table_title %}
{% block thead %}
    <th>#</th>
    <th>Сотрудник</th>
    <th>Сумма</th>
    <th>Дата</th>
{% endblock thead %}
{% block tbody %}
    {% for payout in payouts %}
        <tr>
            <td>{{ payout.id }}</td>
            <td><a style="text-decoration:none"
                   href="{% url 'accounts:profile' payout.staff.id %}">{{ payout.staff.last_name }} {{ payout.staff.first_name }}</a>
            </td>
            <td>{{ payout.salary }}</td>
            <td>{{ payout.date_payout }}</td>
        </tr>
    {% endfor %}
{% endblock tbody %}