{% extends 'base.html' %}
{% block title %}Заказы {{ staff }}{% endblock title %}

{% block content %}
{% if staff.orders.all %}
    <h2 class="text-center">История заказов {{ staff }}</h2>
    <div class="container">
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Адрес</th>
        <th scope="col">Дата</th>
        <th scope="col">Статус</th>
        <th scope="col">Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for order in staff.orders.all %}
        <tr>
            <td><a href="{% url 'crmapp:order_detail' order.pk %}">{{ order.address }}</a></td>
            <td>{{ order.work_start }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.get_total }}</td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
    </div>
{% else %}
    <h2 class="text-center">История заказов {{ staff }} пуста</h2>
{% endif %}


{% endblock content %}