{% extends 'base.html' %}
{% block title %}Сотрудник{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
                <p>Cотрудник: {{ user_object.first_name }} {{ user_object.last_name }}</p>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Сохранить" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}