{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список менеджеров
{% endblock title %}
{% block table_title %}
    Список менеджеров
{% endblock table_title %}
{% block thead %}
    <th>ФИО Сотрудника</th>
    <th>Касса</th>
    <th>Телефон</th>
    <th></th>
{% endblock thead %}
{% block tbody %}
    {% for staff in user_objects %}
        <tr>
            <td>
                <a href="{% url 'accounts:profile' staff.pk %}">
                    {{ staff.last_name | capfirst }} {{ staff.first_name | capfirst }} </a>
            </td>
            <td>{{ staff.cash }}</td>
            <td>{{ staff.phone }}</td>
            <td><a title="Редактировать" href="{% url 'accounts:staff-edit' staff.pk %}"><i
                    class="fa fa-pencil text-dark hover-blue fs-5 mx-1"></i></a>
                <a title="Добавить в черный список" href="{% url 'accounts:black-list-add' staff.pk %}"><i
                        class="fa fa-file text-dark hover-blue fs-6 mx-1"></i></a>
                <a title="Удалить" href="{% url 'accounts:staff-delete' staff.pk %}"><i
                        class="fa fa-trash text-dark hover-blue fs-5 mx-1"></i></a></td>
        </tr>
    {% endfor %}
{% endblock tbody %}

