{% extends "base.html" %}

{% block content %}
    <div class="text-center m-5">
        <h3>Авторизация сотрудника в Telegram боте</h3>
        <hr>
        <div class="text-center">
            <button class="btn btn-outline-success" id="copy-btn" data-token={{ token }}>Нажмите кнопку,чтобы
                скопировать
                token аворизации
            </button>
        </div>
        <hr>
        <h4>Инструкция</h4>
        <div style="margin: auto 30px">
            <p>Отправьте сотруднику скопированный TOKEN, далее сотрудник должен перейти в telegram по
                ссылке и нажать кнопку на "start" для авторизации.</p>
        </div>
    </div>
    <script>
        const copyBtn = document.getElementById('copy-btn');
        console.log(copyBtn);
        window.addEventListener('click', () => {
            const token = copyBtn.getAttribute('data-token');
            navigator.clipboard.writeText(token);
            copyBtn.textContent = 'Token скопирован';
        })
    </script>
{% endblock %}