{% extends 'partial/paginnated_table.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Список сотрудников
{% endblock title %}
{% block table_title %}
    Список сотрудников
{% endblock table_title %}
{% block button %}
    <a class="btn btn-primary mb-2" href="#" data-bs-toggle="modal"
       data-bs-target="#staffModal"> Добавить сотрудника</a>
    <div class="modal fade" id="staffModal" tabindex="-1" aria-labelledby="staffModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="staffleModalLabel">Добавление cотрудника</h2>
                    <button class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form id="staff-form" action="{% url 'accounts:register' %}" method="post">
                        {% csrf_token %}
                        {{ staff_form|crispy }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="staff-form" type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock button %}
{% block thead %}
    <th>ФИО Сотрудника</th>
    <th>Баланс</th>
    <th>Телефон</th>
    <th>Квалификация</th>
    <th>График работы</th>
    <th>Действия</th>
{% endblock thead %}
{% block tbody %}
    {% for staff in user_objects %}
        <tr>
            <td>
                <a class="btn btn-outline-light btn-rounded btn-md" href="{% url 'accounts:profile' staff.pk %}">
                    {{ staff.last_name | capfirst }} {{ staff.first_name | capfirst }}</a>
            </td>
            <td>{{ staff.balance }}</td>
            <td>{{ staff.phone }}</td>
            <td>{{ staff.get_experience_display }}</td>
            <td>
                {% for day in staff.schedule.all %}
                    <span>{{ day }}{% if not forloop.last %}, {% else %}. {% endif %}</span>
                {% endfor %}
            </td>
            <td>
                <a title="Редактировать" href="{% url 'accounts:staff-edit' staff.pk %}"><i
                        class="fa fa-pencil text-dark hover-blue fs-5 mx-1"></i></a>
                <a title="Добавить в черный список" href="{% url 'accounts:black-list-add' staff.pk %}"><i
                        class="fa fa-file text-dark hover-blue fs-6 mx-1"></i></a>

                <a title="Удалить" href="{% url 'accounts:staff-delete' staff.pk %}"><i
                        class="fa fa-trash text-dark hover-blue fs-5 mx-1"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}


