{% extends 'partial/paginnated_table.html' %}
{% block title %}
    История заказов
{% endblock title %}
{% block table_title %}
    История заказов {{ staff }}
{% endblock table_title %}
{% block thead %}
    <th>Заказ</th>
    <th>Адрес</th>
    <th>Дата</th>
    <th>Статус</th>
    <th>Сумма</th>
{% endblock thead %}
{% block tbody %}
    {% for order in staff.orders.all %}
        <tr>
            <td><a class="btn btn-outline-light btn-rounded btn-md" href="{% url 'crmapp:order_detail' order.pk %}">Заказ №{{ order.pk }}</a></td>
            <td>{{ order.address }}</td>
            <td>{{ order.work_start }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.get_total }}</td>
        </tr>
    {% endfor %}
{% endblock tbody %}