{% extends 'base.html' %}
{% block content %}
    <div class="passport mt-3">
        {% if user_object.passport %}
            <img src="{{ user_object.passport.url }}" alt="passport">
            <div class="passport mt-3">
                <a class="btn btn-primary" href="{% url 'accounts:staff-add-passport' user_object.id %}">Изменить</a>
            </div>
        <br>
        {% else %}
            <div class="passport mt-3">
                <a class="btn btn-primary" href="{% url 'accounts:staff-add-passport' user_object.id %}">+Добавить</a>
            </div>
        {% endif %}

    </div>
{% endblock content %}