{% extends 'base.html' %}
{% block title %}Фото{% endblock title %}
{% block links %} {% endblock links %}
{% block content %}
    <div class="container m-5">
        {% if user_object.avatar %}
            <img class="cart-img-top rounded" style="height: 330px; width: 330px"
                 src="{{ user_object.avatar.url }}"
                 alt="user avatar">
        {% else %}{% endif %}
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% include "partial/form.html" with button_text="Применить изменения" %}
            <a class="mt-3 btn btn-dark" href="{% url 'accounts:staff-list' %}" >Назад</a>
        </form>
    </div>
{% endblock content %}
