{% extends 'base.html' %}
{% block title %}Сотрудники{% endblock title %}

{% block content %}
    {% if user_objects %}
        {% include '../partial/simple_search.html' %}
        {% include '../partial/staff.html' %}
    {% else %}
        <p class="p-5">Список сотрудников пуст</p>
    {% endif %}
    <div class="container text-center">
        {% if perms.accounts.add_staff %}
        <a class="btn btn-success" href="{% url 'accounts:register' %}">Добавить сотрудника</a>
        {% endif %}
    </div>
{% endblock content %}