{% extends "base.html" %}
{% block title %}Удалить инвентарь{% endblock title %}
{% block content %}
    <div class="container text-center">
        {% if inventory %}
            <form method="POST">
                {% csrf_token %}
                <h2>Вы действительно хотите удалить инвентарь {{ inventory.name }}?</h2>
                <input class="btn btn-danger" type="submit" value="Да">
                <a class="btn btn-dark" href="{% url "crmapp:inventory_index" %}">Нет</a>
            </form>
        {% endif %}
    </div>
{% endblock %}