{% extends 'base.html' %}
{% block title %}Список инвентаря{% endblock title %}
{% block content %}
    {% include '../partial/simple_search.html' %}
    <div class="container">
    <a href="{% url 'crmapp:inventory_create' %}" class="btn btn-success mt-3 py-2 px-5"> <span
            class="fw-bold">+</span> Добавить
            инвентарь</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование</th>
                <th scope="col">Описание</th>
                <th scope="col">Редактировать</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for inventory in inventories %}
                <tr>
                    <th scope="row">{{ inventory.id }}</th>
                    <td>{{ inventory.name }}</td>
                    <td>{{ inventory.description }}</td>
                    <td><a style="text-decoration:none" href="{% url 'crmapp:inventory_update' inventory.id %}">
                        <i class="fa fa-pencil text-warning" aria-hidden="true"></i>
                    </a>
                    </td>
                    <td><a style="text-decoration:none"
                           href="{% url 'crmapp:inventory_delete' inventory.id %}">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}