{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список инвентаря
{% endblock title %}
{% block table_title %}
    Список инвентаря
{% endblock table_title %}
{% block button %}
    <div class="text-right">
        <a class="mb-2 btn btn-secondary btn-sm" href="{% url 'crmapp:inventory_create' %}">Добавить инвентарь</a>
    </div>
{% endblock button %}
{% block thead %}
    <th>№</th>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Редактировать</th>
    <th>Удалить</th>
{% endblock thead %}
{% block tbody %}
    {% for inventory in inventories %}
        <tr>
            <th scope="row">{{ inventory.id }}</th>
            <td>{{ inventory.name }}</td>
            <td>{{ inventory.description }}</td>
            <td><a title="Редактировать"
                   href="{% url 'crmapp:inventory_update' inventory.id %}">
                <i class="fa fa-pencil text-dark hover-blue fs-5 mx-1"
                   aria-hidden="true"></i>
            </a>
            </td>
            <td><a title="Удалить" href="{% url 'crmapp:inventory_delete' inventory.id %}">
                <i class="fa fa-trash text-dark hover-blue fs-5 mx-1"
                   aria-hidden="true"></i>
            </a></td>
        </tr>
    {% endfor %}
{% endblock tbody %}