{% extends 'base.html' %}

{% block title %}Список услуг{% endblock title %}

{% block content %}
<div class="container">
<div class="row fw-bold">
    <div class="col-4 order-1">Вид уборки</div>
    <div class="col order-2">Тип объекта</div>
    <div class="col order-3">Стоимость (сом)</div>
    <div class="col order-4">Единица измерения</div>
    <div class="col order-5"></div>
    <div class="col order-5"></div>
</div>
<div>
{% for service in services.all %}
  <div class="row">
    <div class="col-4 order-1">{{ service.cleaning_sort }}</div>
    <div class="col order-2">{{ service.property_sort }}</div>
    <div class="col order-3">{{ service.price }}</div>
    <div class="col order-4">{{ service.unit }}</div>
    <div class="col order-5 my-1">
        <a href="{% url 'crmapp:service_update' service.pk %}" class="btn btn-warning">Изменить</a>
    </div>
    <div class="col order-5 my-1">
        <a href="{% url 'crmapp:service_delete' service.pk %}" class="btn btn-danger">Удалить</a>
    </div>
  </div>
{% endfor %}
</div>
    <a href="{% url 'crmapp:service_create'%}" class="w-100 btn btn-primary">Добавить услугу</a>
</div>

{% endblock content %}