
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ФИО Сотрудника</th>
                    <th scope="col">Сумма (сом)</th>
                    <th scope="col">Дата выплаты</th>
                </tr>
                </thead>
                <tbody>
                {% for payout in payouts.all %}
                    <tr>
                        <td>{{ payout.staff }}</td>
                        <td>{{ payout.salary }}</td>
                        <td>{{ payout.date_payout }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
