{% load crispy_forms_tags %}
<form class="mt-3 mb-2" action="" method="GET">
    <p class="lab input-group mb-3 w-50 mx-auto">
        <input class="form-control me-2" type="search" placeholder="Поиск"{{ form.search }}
        <button class="btn btn-outline-success" type="submit" id="button-addon2"><i
                class="fa-solid fa-magnifying-glass"></i></button>
    </p>
    {% for error in form.search.errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}
    </div>
</form>
<style>
    .lab input {
        width: 500px;
    }
</style>