{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Отчет по кассе
{% endblock title %}
{% block table_title %}
    Отчет по кассе
{% endblock table_title %}
{% block button %}
    <div class="text-right">
        <a class="mb-4 btn btn-primary btn-md" href="{% url 'crmapp:cash_excel' %}">Экспорт в Excel</a>
    </div>
{% endblock button %}
{% block thead %}
    <th>Менеджер</th>
    <th>Дата</th>
    <th>Заказ №</th>
    <th>Сумма заказа</th>
{% endblock thead %}
{% block tbody %}
    {% if manager_cash %}
        {% for object_type in object_types %}
            {% for cash in manager_cash %}
                <tr>
                    <td>{{ cash.staff.first_name }} {{ cash.staff.last_name }}</td>
                    <td>{{ cash.date }}</td>
                    <td><a class="btn mb-1 btn-primary btn-sm"
                           href="{% url 'crmapp:order_detail' cash.order.pk %}"> {{ cash.order.pk }}</a>
                    </td>
                    <td>{{ cash.order.get_total }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock tbody %}