{% extends 'base.html' %}
{% block title %}Deleted Orders{% endblock title %}

{% block content %}
    {% if orders %}
    <table class="table table-striped text-center table-hover">
            <thead>
                <tr>
                    <th scope="col">Заказ #</th>
                    <th scope="col">Дата уборки</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.id }}</th>
                        <td>{{ order.work_start }}</td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.get_status_display }}</td>
                        <td>{{ order.get_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Список заказов пуст</p>
    {% endif %}
{% endblock content %}