{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список удаленных заказов
{% endblock title %}
{% block table_title %}
    Список удаленных заказов
{% endblock table_title %}
{% block thead %}
    <th>#</th>
    <th>Дата создания</th>
    <th>Адрес</th>
    <th>Статус</th>
    <th>Сумма</th>
    <th>*</th>
{% endblock thead %}
{% block tbody %}
    {% for order in orders %}
        <tr>
            <td>
                <a class="btn btn-outline-light btn-rounded btn-md"
                   href="{% url 'crmapp:order_detail' order.pk %}">Заказ №{{ order.pk }}
                </a>
            </td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.get_total }}</td>
            <td>
                <a title="Перейти к заказу" href="{% url 'crmapp:order_detail' order.pk %}">
                    <i class="fa fa-eye text-dark hover-blue fs-6 mx-1" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}

