{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список заказов
{% endblock title %}
{% block table_title %}
    Список заказов
{% endblock table_title %}
{% block thead %}
    <th>#</th>
    <th>Дата уборки</th>
    <th>Адрес</th>
    <th>Статус</th>
    <th>Прогресс</th>
    <th>Сумма</th>
    <th>Действия</th>
{% endblock thead %}
{% block tbody %}
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.work_start }}</td>
            <td>{{ order.address }}</td>
            <td>
                <span class="badge badge-primary px-2">{{ order.get_status_display }}</span>
            </td>
            <td>
                <div class="progress mt-2" style="height: 10px; ">
                    <div class="progress-bar gradient-1" role="progressbar" style="width: {{ order.get_progres }}%;"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            <td>{{ order.get_total }}</td>
            <td>
                <a title="Перейти к заказу" href="{% url 'crmapp:order_detail' order.pk %}">
                    <i class="fa fa-eye text-dark hover-blue fs-6 mx-1"
                       aria-hidden="true"></i>
                </a>
                <a title="Редактировать" href="{% url 'crmapp:order_update' order.pk %}">
                    <i class="fa fa-pencil text-dark hover-blue fs-6 mx-1"
                       aria-hidden="true"></i>
                </a>
                <a title="Удалить" href="{% url 'crmapp:order_delete' order.pk %}">
                    <i class="fa fa-trash text-dark hover-blue fs-6 mx-1"
                       aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}
