{% extends 'new_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Заказ №{{ order.id }} {% endblock title %}
{% block content %}
    <div class="container-fluide mt-1">
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-0">
                    <h3 class="mb-0">Заказ №{{ order.id }}</h3>
                </div>
                <hr>
                <div class="row px-5 mb-5">
                    <div class="col-12">
                        <strong class="mr-3">Статус: </strong>
                        <span class="badge badge-pill badge-secondary">{{ order.get_status_display }}</span>
                    </div>
                </div>
                <div class="row px-5">
                    <div class="col-lg-6 col-md-12">
                        <p class="mb-0">
                            <strong class="mr-3">Менеджер: </strong><span>{{ order.manager.first_name }} {{ order.manager.last_name }}</span>
                        </p>
                        <p class="mb-0">
                            <strong class="mr-3">Вид
                                оплаты: </strong><span>{{ order.get_payment_type_display }}</span></p>
                        <p class="mb-0">
                            <strong class="mr-3">Дата
                                создания: </strong><span>{{ order.created_at }}</span></p>
                        <p class="mb-0">
                            <strong class="mr-3">Зарегистрирован на:</strong>
                            <span>{{ order.work_start }}</span>
                        </p>
                        <p class="mb-0">
                            <strong class="mr-3">Время выполнения:</strong>
                            {% if order.cleaning_time %}
                                <span>{{ order.cleaning_time }} ч.</span>
                            {% else %}
                                <a title="Дубавить время на выполнение заказа" href="#">
                                    <i class="fa fa-plus-circle fs-6"></i>
                                </a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <p class="text-lg-right mb-0">
                            <strong class="mr-3">Адрес:</strong>
                            <span>{{ order.address }}</span>
                        </p>
                        <p class="text-lg-right mb-0">
                            <strong class="mr-3">ФИО:</strong>
                            <span>{{ order.client_info.first_name }} {{ order.client_info.last_name }}</span>
                        </p>
                        <p class="text-lg-right mb-0">
                            <strong class="mr-3">Телефон:</strong>
                            <span>{{ order.client_info.phone }}</span>
                        </p>
                        <p class="text-lg-right mb-0">
                            <strong class="mr-3">Тип объекта:</strong>
                            <span>{{ order.object_type }}</span>
                        </p>
                        {#                                <p class="text-lg-right mt-3">#}
                        {#                                    <strong class="text-dark mr-3">Описание:</strong>#}
                        {#                                    <span>{{ order.description }}</span>#}
                        {#                                </p>#}
                        {#                            </div>#}
                    </div>
                </div>
                <h4 class="fs-6 my-4 text-center">Информация по заказу:</h4>
                <!-- *********************************************  Таб меню ****************************************-->
                <input id="services" type="radio" name="tab-link" checked>
                <input id="inventories" type="radio" name="tab-link">
                <input id="cleaners" type="radio" name="tab-link">
                <input id="expences" type="radio" name="tab-link">
                <input id="fotos" type="radio" name="tab-link">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <label for="services" class="nav-link">Услуги</label>
                    </li>
                    <li class="nav-item">
                        <label for="inventories" class="nav-link">Инвентарь</label>
                    </li>
                    <li class="nav-item">
                        <label for="cleaners" class="nav-link">Бригада</label>
                    </li>
                    <li class="nav-item">
                        <label for="expences" class="nav-link">Расходы</label>
                    </li>
                    {% if order.status != 'finished' and order.status != 'canceled' %}
                        {% if order.get_brigadier.staff == request.user %}
                            {% if order.get_brigadier.in_place %}
                                {% if not brigadir.work_start %}
                                    <li class="nav-item">
                                        <label for="fotos" class="nav-link">Фото</label>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <li style="margin: 0 auto;"></li>
                    {% if order.status == 'new' and perms.crmapp.add_inventoryorder and order.manager == request.user or request.user.is_staff %}
                        <li id="inventory-add" class="action-button">
                            <div class="text-right">
                                <a class="btn btn-secondary btn-sm"
                                   href="{% url 'crmapp:inventory_order_add' order.id %}">Добавить/Изменить инвентарь
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    {% if order.status != 'finished' and order.status != 'canceled' %}
                        {% if order.get_brigadier.staff == request.user %}
                            {% if order.get_brigadier.in_place %}
                                {% if not brigadir.work_start %}
                                    <li id="service-add" class="action-button">
                                        <a href="{% url 'crmapp:foreman_create_service' order.id %}"
                                           class="btn mb-1 btn-secondary btn-sm">Добавить услугу</a>
                                    </li>
                                    <li id="service-add" class="action-button">
                                        <a href="{% url 'crmapp:foremanorder_create' order.id %}"
                                           class="btn mb-1 btn-secondary btn-sm">Редактировать</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if perms.crmapp.add_inventoryorder and order.manager == request.user or request.user.is_staff %}
                            <li id="service-add" class="action-button">
                                <a href="#" class="btn mb-1 btn-secondary btn-sm">Добавить услугу</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if perms.crmapp.add_stafforder and order.manager == request.user or request.user.is_staff %}
                        {% if order.status == 'new' %}
                            <li id="cleaner-add" class="action-button">
                                <a href="{% url 'crmapp:order_staff_add' order.pk %}"
                                   class="btn mb-1 btn-secondary btn-sm">Добавить клинера
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if order.status != 'finished' and order.status != 'canceled' and order.manager == request.user or request.user.is_staff or request.user == order.get_brigadier.staff %}
                        <li id="expence-add" class="action-button">
                            <a href="{% url 'crmapp:foreman_create_expense' order.pk %}"
                               class="btn mb-1 btn-secondary btn-sm">Добавить расход
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <!-- *********************************************  Услуги ******************************************-->
                <div id="content-services" class="table-responsive">
                    <table class="table table-bordered table-striped verticle-middle content-tabs">
                        <thead>
                        <tr>
                            <th>Услуга</th>
                            <th>Объем</th>
                            <th>Слож.</th>
                            <th>Итого</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        {% with services=order.order_services.all %}
                            {% if services %}
                                <tbody>
                                {% for service in services %}
                                    <tr>
                                        <th>{{ service.service.name }}</th>
                                        <td>{{ service.amount }} {{ service.service.get_unit_display }}</td>
                                        <td>{{ service.rate }}</td>
                                        <td>{{ service.total }}</td>
                                        <td>
                                            {% if perms.crmapp.change_serviceorder and order.manager == request.user or request.user.is_staff %}
                                                <a class="ml-1"
                                                   href="{% url 'crmapp:service_order_update' service.id %}">
                                                    <i title="Редактировать"
                                                       class="fa fa-pencil text-dark hover-blue fs-5"></i>
                                                </a>
                                            {% endif %}
                                            {% if perms.crmapp.delete_serviceorder and order.manager == request.user or request.user.is_staff %}
                                                <a class="ml-1" href="{% url 'crmapp:order_staff_delete' service.id %}">
                                                    <i title="Удалить из заказа"
                                                       class="fa fa-trash text-dark hover-blue fs-5"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot class="border-none">
                                <tr class="text-right">
                                    <td colspan="5">
                                        <div class="mr-5">
                                            <strong class="mr-3 fs-5">Итого: </strong>
                                            <span class="fs-5">{{ order.get_total }} сом</span>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            {% else %}
                                <tbody>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        Услуги не добавлены
                                    </td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endwith %}
                    </table>
                </div>
                <!-- *************************************** Карточка инвентаря *********************************-->
                <div id="content-inventories" class="table-responsive">
                    <table class="table table-bordered table-striped verticle-middle content-tabs">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Наименование</th>
                            <th>Количество</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with inventories=order.order_inventories.all %}
                            {% for inventory in inventories %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ inventory.inventory.name }}</td>
                                    <td>{{ inventory.amount }}</td>
                                    <td>
                                        {% if perms.crmapp.delete_inventoryorder and order.manager == request.user or request.user.is_staff %}
                                            <a class="text-danger"
                                               href="{% url 'crmapp:inventory_order_remove' inventory.pk %}"><i
                                                    class="fa fa-trash text-dark hover-blue fs-5"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if not inventories %}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        Инвентарь не добавлен
                                    </td>
                                </tr>
                            {% endif %}
                        {% endwith %}
                        </tbody>
                    </table>
                </div>
                <!-- ******************************************** Клинеры *******************************************-->
                <div id="content-cleaners" class="table-responsive">
                    <table class="table table-bordered table-striped verticle-middle content-tabs">
                        <tbody>
                        {% with cleaners=order.order_cleaners.all %}
                            <tr>
                                {% if not cleaners %}
                                    <td class="text-center">Клинеры не добавлены</td>
                                {% else %}
                                    <td>
                                        {% for cleaner in cleaners %}
                                            <span class="badge badge-pill bg-light-grey fs-6">
                                                <a class="text-dark fw-bold"
                                                   href="{% url 'accounts:profile' cleaner.staff.id %}">
                                                    {{ cleaner.staff.first_name }} {{ cleaner.staff.last_name }}
                                                </a>
                                                {% if order.manager == request.user or request.user.is_staff %}
                                                    {% if cleaner.is_brigadier %}
                                                        <i class="fa fa-star text-warning ml-1"></i>
                                                    {% else %}
                                                        {% if not order.get_brigadier %}
                                                            <a class="ml-1" href="#">
                                                                <i title="Назначить бригадиром"
                                                                   class="fa fa-star text-dark hover-blue"></i>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if perms.crmapp.delete_stafforder and order.manager == request.user or request.user.is_staff %}
                                                    <a title="Удалить из заказа" class="ml-1"
                                                       href="{% url 'crmapp:order_staff_delete' cleaner.id %}">
                                                        <i class="fa fa-trash text-dark hover-blue"></i>
                                                    </a>
                                                {% endif %}
                                            </span>
                                        {% endfor %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endwith %}
                        </tbody>
                    </table>
                </div>
                <!-- ******************************************** Расходы *******************************************-->
                <div id="content-expences" class="table-responsive">
                    <table class="table table-bordered table-striped verticle-middle content-tabs">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Сумма</th>
                            <th>Пояснение</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with expences=order.get_brigadier.foreman_expense.all %}
                            {% for expence in expences %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ expence.amount }}</td>
                                    <td>{{ expence.description }}</td>
                                </tr>
                            {% endfor %}
                            {% if not expences %}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        Расходов нет
                                    </td>
                                </tr>
                            {% endif %}
                        {% endwith %}
                        </tbody>
                    </table>
                </div>
                <!-- ********************************************** Фото ********************************************-->
                <div id="content-fotos" class="table-responsive">
                    <table class="table table-bordered table-striped verticle-middle content-tabs">
                        <tbody>
                        <tr>
                            <td class="text-center">
                                {% if order.status != 'finished' and order.status != 'canceled' %}
                                    {% if order.get_brigadier.staff == request.user %}
                                        {% if order.get_brigadier.in_place %}
                                            {% if not brigadir.work_start %}
                                                <form action="{% url 'crmapp:foreman_photo_before' order.id %}"
                                                      method="POST"
                                                      enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <lable>Фото до:
                                                        <input type="file" name="photo_before" required multiple>
                                                    </lable>
                                                    <button type="submit" class="btn mb-1 btn-light">Отправить</button>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'crmapp:foreman_photo_before' order.id %}"
                                                      method="POST"
                                                      enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <lable>Фото после:
                                                        <input type="file" name="photo_after" required multiple>
                                                    </lable>
                                                    <button type="submit" class="btn mb-1 btn-light">Отправить</button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    {% if order.manager == request.user or request.user.is_staff %}
                        <button class="btn mb-1 btn-success btn-md">Завершить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="service-form" action="{% url 'crmapp:order_add_service' order.id %}" method="post">
                        {% csrf_token %}
                        {{ service_form|crispy }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button form="service-form" type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block script %}
    <script type="text/javascript">
        let myModal = document.getElementById('myModal')
        let myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
{% endblock script %}
