{% extends 'base.html' %}
{% block title %}Список бонусов{% endblock title %}
{% block content %}
    <div class="container">
        <a href="{% url 'crmapp:bonus_create' %}" class="btn btn-success mt-3 py-2 px-5"><span
                class="fw-bold">+</span> Добавить
            бонус</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Бонус</th>
                <th scope="col">Сумма бонуса</th>
                <th scope="col">Редактировать</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for bonus in bonuses %}
                <tr>
                    <th scope="row">{{ bonus.id }}</th>
                    <td>{{ bonus.bonus }}</td>
                    <td>{{ bonus.value|default:"" }}</td>
                    <td><a style="text-decoration:none" href="{% url 'crmapp:bonus_update' bonus.id %}">
                        <i class="fa fa-pencil text-warning" aria-hidden="true"></i>
                    </a>
                    </td>
                    <td><a style="text-decoration:none"
                           href="{% url 'crmapp:bonus_delete' bonus.id %}">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}