{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список бонусов
{% endblock title %}
{% block table_title %}
    Список бонусов
{% endblock table_title %}
{% block thead %}
    <th>#</th>
    <th>Бонус</th>
    <th>Сумма бонуса</th>
    <th>Деуятвия</th>
{% endblock thead %}
{% block tbody %}
    {% for bonus in bonuses %}
        <tr>
            <th>{{ bonus.id }}</th>
            <td>{{ bonus.bonus }}</td>
            <td>{{ bonus.value|default:"" }}</td>
            <td>
                <a title="Редактировать"
                   href="{% url 'crmapp:bonus_update' bonus.id %}">
                    <i class="fa fa-pencil text-dark hover-blue fs-5 mx-1"
                       aria-hidden="true"></i>
                </a>
                <a title="Удалить"
                   href="{% url 'crmapp:bonus_delete' bonus.id %}">
                    <i class="fa fa-trash text-dark hover-blue fs-5 mx-1"
                       aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}

