{% extends 'base.html' %}

{% block title %}Список услуг{% endblock title %}



{% block content %}
    {% include '../partial/simple_search.html' %}
    <div class="container">
        <a href="{% url 'crmapp:service_create' %}" class="btn btn-success mt-3 py-2 px-5"><span
                class="fw-bold">+</span> Добавить услугу
        </a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Вид уборки</th>
                <th scope="col">Стоимость (сом)</th>
                <th scope="col">Единица измерения</th>
                <th scope="col">Редактировать</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services.all %}
                <tr>
                    <th scope="row">{{ service.id }}</th>
                    <td>{{ service.name }}</td>
                    <td>{{ service.price }}</td>
                    <td>{{ service.get_unit_display }}</td>
                    <td><a href="{% url 'crmapp:service_update' service.pk %}">
                        <i class="fa fa-pencil text-warning" aria-hidden="true"></i>
                    </a></td>
                    <td><a href="{% url 'crmapp:service_delete' service.pk %}">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% if is_paginated %}
   {% include 'partial/pagination.html' %}
{% endif %}
{% endblock content %}