{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список услуг
{% endblock title %}
{% block table_title %}
    Список услуг
{% endblock table_title %}
{% block button %}
    <div class="text-right">
        <a class="mb-2 btn btn-secondary btn-sm" href="{% url 'crmapp:service_create' %}">Добавить услугу</a>
    </div>
{% endblock button %}
{% block thead %}
    <th>#</th>
    <th>Услуга</th>
    <th>Цена</th>
    <th>Ед. изм.</th>
    <th>Действия</th>
{% endblock thead %}
{% block tbody %}
    {% for service in services %}
        <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.price }}</td>
            <td>{{ service.get_unit_display }}</td>
            <td>
                <a title="Редактировать"
                   href="{% url 'crmapp:service_update' service.pk %}">
                    <i class="fa fa-pencil text-dark hover-blue fs-5 mx-1"
                       aria-hidden="true"></i>
                </a>
                <a title="Удалить"
                   href="{% url 'crmapp:service_delete' service.pk %}">
                    <i class="fa fa-trash text-dark hover-blue fs-5 mx-1"
                       aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}