{% extends 'partial/paginnated_table.html' %}
{% block title %}
    Список клиентов
{% endblock title %}
{% block table_title %}
    Постоянные клиенты
{% endblock table_title %}
{% block button %}
    <div class="text-right">
        <a class="mb-2 btn btn-secondary btn-sm" href="{% url 'crmapp:client_create' %}">Добавить клиента</a>
    </div>
{% endblock button %}
{% block thead %}
    <th>#</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Организация</th>
    <th>Редактировать</th>
{% endblock thead %}
{% block tbody %}
    {% for client in clients %}
        <tr>
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.last_name }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.organization|default:"" }}</td>
            <td>
                <a title="Редактировать" href="{% url 'crmapp:client_update' client.id %}">
                    <i class="fa fa-pencil text-dark hover-blue fs-5 mx-1"
                       aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}

